@model SATGroupProject.DATA.EF.StudentStatus

@{
    ViewBag.Title = " Confirm Delete: " + Model.SSName;
}

<h2 class="alert-danger">@ViewBag.Title</h2>

<div>
    <dl class="dl-horizontal detailsShape">
        <dt>
            @Html.DisplayNameFor(model => model.SSName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSDescription)
        </dd>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-offset-7 col-md-2">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
                </div>
            </div>

        }
    </dl>
</div>
