@model SATGroupProject.DATA.EF.Enrollment

@{
    ViewBag.Title = " Confirm Delete: " + Model.ScheduledClass.Cours.CourseName;
}

<h2 class="alert-danger">@ViewBag.Title</h2>

@*<h3 class="alert-danger">Are you sure you want to delete this?</h3>*@
<div>
    <dl class="dl-horizontal detailsShape">
        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduledClass.InstructorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduledClass.InstructorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-offset-7 col-md-2">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
                </div>
            </div>

        }
    </dl>

    @*@using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }*@
</div>
